body{
    background: #888;
}

.header {
    background: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.header-item-wrapper {
    font-size: 18px;
    padding: 0 10px;
    display: inline-block;
    text-shadow: 0 0.05px;
}
.header-item-wrapper a{
    color:#333;
    text-decoration: none !important;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.header-item-wrapper.active a,.header-item-wrapper:hover a {
    color: #e4980e;
}
.content-container{
    margin:20px 0;
}
.news-section-container {
    background: #fff;
    padding: 20px;
    margin:15px 0;
    border-radius: 10px;
}
.footer-container{
    background: #ddd;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom:10px;
}
.footer-link{
    margin-right: 10px;
    margin-left:10px;
}

.content-container img{
    max-width:100% !important;
}
